*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
                        <!-- <div class="col">
                            <div class="card" style="width: 18rem;">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Card title
                                    </h5>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                    </p>
                                </div>
                                <div class="card-body">
                                    <a href="#" class="card-link btn btn-outline-dark">
                                        <i class="fa-brands fa-github fa-1x">
                                        </i>
                                    </a>
                                    <a href="#" class="card-link btn btn-outline-dark">
                                        <i class="fa-solid fa-code-fork fa-1x">
                                        </i>
                                    <a>
                                </div>
                            </div>
                        </div> -->